.contact-section {
}
.container {
}
.contact-container {
  background: #2fbef8;
  max-width: 375;
  padding-top: 34px;
  padding-bottom: 60px;
}
.contact-titel {
  font: 600 30px 'Comfortaa', sans-serif;
  text-align: center;
  color: #0b0a0a;
  padding-bottom: 60px;
}
.contact-text {
  font: 400 16px 'Comfortaa', sans-serif;
  text-align: center;
  color: #0b0a0a;
  padding-bottom: 34px;
  width: 285px;
  margin: 0 auto;
}
.t-2 {
  padding-bottom: 28px;
}
.t-3 {
  padding-bottom: 29px;
}
.t-4 {
  padding-bottom: 11px;
  width: 222px;
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.contact-icon {
}

.contact-icon:hover,
.contact-icon:focus {
  fill: rgba(251, 251, 251, 0.8);
}
.contact-list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  list-style: none;
}
.instagram {
  fill: none;
  stroke: currentColor;
}
.contact-item {
  margin: 0;
}
.contact-icon {
}
.icon-contact {
}
@media screen and (min-width: 1200px) {
  br {
    display: none;
  }
  .contact-container {
    max-width: 1200;
    padding-top: 104px;
    padding-bottom: 104px;
  }

  .contact-titel {
    font-size: 40px;

    padding-bottom: 39px;
  }
  .contact-text {
    font-size: 24px;

    padding-bottom: 95px;
    width: 772px;
  }
  .t-2 {
    padding-bottom: 25px;
  }
  .t-3 {
    padding-bottom: 91px;
  }
  .t-4 {
    padding-bottom: 16px;
  }
}
