.contact-container {
  background: #2fbef8;
  padding-top: 34px;
  padding-bottom: 60px;
}

.contact-titel {
  font: 600 30px 'Comfortaa', sans-serif;
  text-align: center;
  color: #0b0a0a;
  padding-bottom: 40px;

}

.contact-text {
  font: 400 16px 'Comfortaa', sans-serif;
  text-align: center;
  color: #0b0a0a;
  padding-bottom: 34px;
  width: 285px;
  margin: 0 auto;
}

.t-2 {
  padding-bottom: 28px;
  display: flex;
  align-items: baseline;
  gap: 3px;
  justify-content: center;
}


.t-3 {
  padding-bottom: 29px;
}

.sticker-wrap {
  width: 104px;
  padding-bottom: 0;
  display: flex;
  align-items: flex-start;
}



.t-4 {
  padding-bottom: 11px;
  width: 222px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: baseline;
}



.attachment-icon {
  width: 15px;
  height: 15px;
  transform: scaleX(-1);
  rotate: 90deg;
}


.contact-list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  list-style: none;
  align-items: stretch;
}


.contact-icon {
  transition: fill 0.3s ease, transform 0.3s ease;
}

.contact-icon:hover {
  stroke: #fff;
  fill: #fff;
  transform: scale(1.2);
}

.contact-item {
  margin: 0;
}



@media screen and (min-width: 1200px) {
  br {
    display: none;
  }

  .contact-container {
    max-width: 1200px;
    padding-top: 104px;
    padding-bottom: 104px;
  }

  .contact-titel {
    font-size: 40px;

    padding-bottom: 39px;
  }

  .contact-text {
    font-size: 24px;

    padding-bottom: 95px;
    width: 772px;
  }

  .t-2 {
    padding-bottom: 25px;

  }

  .t-3 {
    margin: 0;
    width: auto;
  }

  .sticker-wrap {
    width: auto;
    padding-bottom: 0;
    margin: 0;
    align-items: baseline;

  }

  .contact-support-wrap {
    display: flex;
    justify-content: center;

  }

  .attachment-icon {
    width: 20px;
    height: 20px;

  }

  .t-4 {
    padding-bottom: 16px;
  }
}