.logo {
  width: 20px;
  height: 20px;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.menu-btn {
  stroke: black;
  border: none;
  background: none;
  display: flex;
  align-items: center;

}

.header-container {
  display: flex;
  background: linear-gradient(180deg, #c37bfd 0%, #fdd976 100%);
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}







@media screen and (min-width: 1200px) {

  .menu-btn {
    display: none;
  }

  .logo {
    margin: 42px 0;
    margin-right: 222px;
    width: 80px;
    height: 80px;
  }


  .header-container {
    padding: 0 66px 0 81px;
  }

  .nav-list {
    display: flex;
    gap: 38px;
    flex-wrap: wrap;
    justify-content: end;
  }

  .nav-list-item:nth-child(10) {
    margin-right: 32px;
  }
}