<section class="about" id="about">
  <div class="container about-container">
    <h2 class="about-title">About the game</h2>
    <div class="chest"></div>
    <div class="about-wraper-main">
      <p class="about-text">
        A Magical Puzzle Adventure Magic Funfair isn’t just about matching —
        it’s about discovery. By day, you restore the abandoned fairground,
        fixing broken rides and unraveling lost stories. At night, new secrets
        emerge as magical versions of the objects appear for advanced merging
        and hidden quests.
      </p>
    </div>
    <ul class="about-list">
      <li class="about-list-item">
        <div class="about-list-wrap">
          <img
            class="sticker-img about-sticker"
            src="../img/Sticker/noto_carousel-horse 1.png"
            alt="horse"
          />
          <p class="about-list-text">
            Immersive 3D puzzles with merge mechanics
          </p>
        </div>
      </li>
      <li class="about-list-item">
        <div class="about-list-wrap">
          <img
            class="sticker-img about-sticker"
            src="../img/Sticker/emojione_crescent-moon 1.png"
            alt="moon"
          />
          <p class="about-list-text">
            Day-Night switch that changes the game world
          </p>
        </div>
      </li>
      <li class="about-list-item">
        <div class="about-list-wrap">
          <img
            class="sticker-img about-sticker"
            src="../img/Sticker/twemoj 1.png"
            alt="twemoj"
          />
          <p class="about-list-text">
            Fairground setting filled with magical stories and surprises
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
