<section class="autoSave js-reveal">
  <div class="container autoSave-container">
    <h2 class="visually-hidden">AutoSave</h2>
    <ul class="autoSave-list">
      <li class="autoSave-item">
        <svg class="autoSave-icon">
          <use href="/img/sprite.svg#icon-autosave"></use>
        </svg>
        Auto-save for offline play
      </li>
      <li class="autoSave-item">
        <svg class="autoSave-icon">
          <use href="/img/sprite.svg#icon-Stop"></use>
        </svg>
        No internet needed to enjoy either version
      </li>
      <li class="autoSave-item">
        <svg class="autoSave-icon">
          <use href="/img/sprite.svg#icon-time"></use>
        </svg>
        Merges transform based on time of day
      </li>
    </ul>
  </div>
</section>
