<section class="characters js-reveal" id="characters">
  <div class="container characters-container">
    <h2 class="characters-title">Cast of Characters Meet the Carnival Crew</h2>

    <div class="characters-grid">
      <div>
        <div class="characters-item item1">
          <div class="image-block Luna">
            <h3 class="characters-subtitel violet">Luna</h3>
          </div>
        </div>
        <p class="characters-text text-1">
          Guardian of the Night Fair. Mysterious, wise, and glowing.
        </p>
      </div>

      <div>
        <div class="characters-item item2">
          <div class="image-block Juno">
            <h3 class="characters-subtitel blue">Juno</h3>
          </div>
        </div>
        <p class="characters-text text-2">
          Repair expert who can fix anything — except the broken time wheel
        </p>
      </div>

      <div class="characters-row">
        <div class="characters-item item3">
          <div class="image-block Felix">
            <h3 class="characters-subtitel yellow">
              Felix the Firecracker Fox
            </h3>
          </div>
        </div>
        <p class="characters-text text-3">
          Mischievous guide with nighttime quests
        </p>
      </div>

      <div class="">
        <div class="characters-item item4">
          <div class="image-block Merry">
            <h3 class="characters-subtitel pink">Merry Twins</h3>
          </div>
        </div>
        <p class="characters-text text-2">
          Run the day and night ticket booths. One's asleep while the other’s
          awake
        </p>
      </div>

      <div>
        <div class="characters-item item5">
          <div class="image-block Masked">
            <h3 class="characters-subtitel green">The Masked Maestro</h3>
          </div>
        </div>
        <p class="characters-text text-5">
          No one knows who he is… or when he appears
        </p>
      </div>
    </div>
  </div>
</section>
