<section class="contact-section reveal" id="contact">
  <div class="container contact-container">
    <h2 class="contact-titel">Contact & Support</h2>
    <p class="contact-text">
      Got feedback, bugs, or curious about Luna’s true identity?
    </p>
    <p class="contact-text t-2">
      <img
        width="18"
        height="18"
        src="/img/Sticker/fxemoji_envelopedownarrowabove 1.png"
        alt="Email"
      />Email: info@digituno.space
    </p>
    <div class="contact-support-wrap">
      <div class="sticker-wrap contact-text">
        <img
          src="/img/Sticker/fxemoji_clock4oclock 1.png"
          width="18"
          height="18"
          alt="clock"
          class="clock-sticker"
        />
        Support: Mon–Fri,
      </div>
      <p class="contact-text t-3">10:00 AM – 6:00 PM GMT</p>
    </div>
    <p class="contact-text t-4">
      <svg class="attachment-icon" width="24" height="24">
        <use href="/img/sprite.svg#icon-attachment"></use>
      </svg>
      Follow us:
    </p>
    <div>
      <ul class="contact-list">
        <li class="contact-item">
          <a
            href="https://www.instagram.com/"
            class="contact-icon"
            target="_blank"
          >
            <svg class="icon-contact instagram" width="27" height="27">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="contact-item">
          <a
            href="https://www.facebook.com/"
            class="contact-icon"
            target="_blank"
          >
            <svg class="icon-contact" width="30" height="30">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="contact-item">
          <a href="https://twitter.com/" class="contact-icon" target="_blank">
            <svg class="icon-contact" width="30" height="30">
              <use href="/img/sprite.svg#icon-close-btn"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
