<section class="contact-section" id="contact">
  <div class="container contact-container">
    <h2 class="contact-titel">Contact & Support</h2>
    <p class="contact-text">
      Got feedback, bugs, or curious about Luna’s true identity?
    </p>
    <p class="contact-text t-2">Email: info@digituno.space</p>
    <p class="contact-text t-3">
      Support: <br />
      Mon–Fri, 10:00 AM – 6:00 PM <br />
      GMT
    </p>
    <p class="contact-text t-4">
      <svg class="contact-icon" width="24" height="24">
        <use href="/img/sprite.svg#icon-close-btn"></use>
      </svg>
      Follow us:
    </p>
    <div>
      <ul class="contact-list">
        <li class="contact-item">
          <a
            href="https://www.instagram.com/"
            class="contact-icon"
            target="_blank"
          >
            <svg class="icon-contact instagram" width="26" height="26">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="contact-item">
          <a
            href="https://www.facebook.com/"
            class="contact-icon"
            target="_blank"
          >
            <svg class="icon-contact" width="26" height="26">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="contact-item">
          <a href="https://twitter.com/" class="contact-icon" target="_blank">
            <svg class="icon-contact" width="26" height="26">
              <use href="/img/sprite.svg#icon-close-btn"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
