<section class="dualRealms">
  <div class="container dualRealms-container">
    <h2 class="dualRealms-title">
      Day & <span class="dualRealms-title-span">Night</span><br />
      Exper <span class="dualRealms-title-span">ience</span><br />
      Two Real <span class="dualRealms-title-span">ms, One</span><br />
      Puzzle <span class="dualRealms-title-span">World</span>
    </h2>
  </div>
  <div class="dualRealms-text-div">
    <p class="dualRealms-text">
      ☀️ Day Mode: Restoration, casual merges, basic puzzles
    </p>
    <p class="dualRealms-text">
      🌙 Night Mode: Magical merges, lore quests, hidden bonuses
    </p>
  </div>
</section>
