<section class="hero reveal">
  <div class="containter hero-container">
    <p class="hero-title-up">Welcome to</p>
    <h1 class="hero-title">Magic Funfair</h1>
    <p class="hero-title-down">Play by Day. Merge by Moonlight.</p>

    <div class="hero-wrap">
      <a
        href="https://play.google.com/store/apps/details?id=com.fridaygame.merge.magic.story.funfair&hl=en&gl=us"
        class="googlebtn-link"
        target="_blank"
      >
        <picture>
          <source
            srcset="
              ./img/Hero/1x/GooglePlayBtn-mobile@1x.webp 1x,
              ./img/Hero/2x/GooglePlayBtn-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/Hero/1x/GooglePlayBtn@1x.webp 1x,
              ./img/Hero/2x/GooglePlayBtn@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="googleBtn-img"
            src="./img/Hero/1x/GooglePlayBtn-mobile@1x.webp"
            alt="Google Play Button"
          />
        </picture>
      </a>
      <p class="hero-text">
        Step into a whimsical carnival where puzzles sparkle under the sun and
        secrets awaken under the stars. Magic Funfair：Day&Night Merge is your
        portal to a dreamlike realm of match puzzles, enchanted objects, and a
        mysterious funfair that evolves as the day turns to night.
      </p>
    </div>

    <ul class="hero-list">
      <li class="hero-list-item">
        <img
          class="img-hero-list"
          src="./img/Hero/1x/Scroll@1x.webp"
          srcset="./img/Hero/2x/Scroll@2x.webp 2x"
          alt="Scroll"
        />
        <p class="hero-list-text">10,000+ Downloads</p>
      </li>
      <li class="hero-list-item">
        <img
          class="img-hero-list"
          src="./img/Hero/1x/Key@1x.webp"
          srcset="./img/Hero/2x/Key@2x.webp 2x"
          alt="Key"
        />
        <p class="hero-list-text">Match & Merge enchanted items</p>
      </li>
      <li class="hero-list-item">
        <img
          class="img-hero-list"
          src="./img/Hero/1x/House@1x.webp"
          srcset="./img/Hero/2x/House@2x.webp 2x"
          alt="House"
        />
        <p class="hero-list-text">
          Offline gameplay with dynamic day-night visuals
        </p>
      </li>
    </ul>
    <div class="hero-horse"></div>
  </div>
</section>
