<section class="play" id="play">
  <div class="container play-container">
    <h2 class="play-title">How to Play</h2>
    <ul class="play-list-up">
      <li class="play-list-up-item">
        <div class="play-list-up-wrap">
          <p class="play-list-up-text">Match</p>
        </div>
      </li>
      <li class="play-list-up-item">
        <div class="play-list-up-wrap">
          <p class="play-list-up-text">Merge</p>
        </div>
      </li>
      <li class="play-list-up-item">
        <div class="play-list-up-wrap">
          <p class="play-list-up-text">Enchant</p>
        </div>
      </li>
    </ul>

    <ul class="play-list">
      <li class="play-list-item">
        <div class="circus-img"></div>
        <div class="play-list-wrap">
          <p class="play-list-text">
            1.Tap and match magical 3D objects on the puzzle grid
          </p>
        </div>
      </li>
      <li class="play-list-item">
        <div class="wheel-img"></div>
        <div class="play-list-wrap">
          <p class="play-list-text">2.Complete rows to earn glowing chests</p>
        </div>
      </li>
      <li class="play-list-item">
        <div class="play-list-wrap">
          <p class="play-list-text">
            3.Merge items to rebuild carnival attractions
          </p>
        </div>
      </li>
      <li class="play-list-item">
        <div class="play-list-wrap">
          <p class="play-list-text">
            4.Unlock nighttime objects for secret paths
          </p>
        </div>
      </li>
      <li class="play-list-item">
        <div class="horse-img"></div>
        <div class="play-list-wrap">
          <p class="play-list-text">
            5.Progress through story-driven merge quests
          </p>
        </div>
      </li>
      <li class="play-list-item">
        <div class="chest-img"></div>
        <div class="play-list-wrap">
          <p class="play-list-text">
            6.Join seasonal carnival events and unlock limited-time rewards
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
