<section class="key-section js-reveal" id="key">
  <div class="key-bg"></div>
  <div class="container key-container">
    <h2 class="key-title">Key Features</h2>
    <p class="key-text">Why You’ll Love Magic Funfair</p>
    <div class="key-btn-wrap">
      <button
        type="button"
        class="swiper-button-next key-btn-up"
        aria-label="next-slide"
      >
        <svg class="key-icon-up" width="60" height="30">
          <use href="/img/sprite.svg#icon-arow"></use>
        </svg>
      </button>
      <div class="js-swiper">
        <ul class="swiper-wrapper key-list">
          <li class="swiper-slide key-list-item">
            <div class="key-list-wrap">
              <img class="key-stiker" src="/img/Sticker/twemoj 1.png" alt="" />
              <p class="key-list-text">Dynamic Day & Night puzzle boards</p>
            </div>
          </li>
          <li class="swiper-slide key-list-item">
            <div class="key-list-wrap">
              <img
                class="key-stiker"
                src="/img/Sticker/flat-color-icons_puzzle2 1.png"
                alt=""
              />
              <p class="key-list-text">Merge Adventure with branching quests</p>
            </div>
          </li>
          <li class="swiper-slide key-list-item">
            <div class="key-list-wrap">
              <img
                class="key-stiker"
                src="/img/Sticker/noto_sparkler 1.png"
                alt=""
              />
              <p class="key-list-text">Offline Play – anytime, anywhere</p>
            </div>
          </li>
          <li class="swiper-slide key-list-item">
            <div class="key-list-wrap">
              <img
                class="key-stiker"
                src="/img/Sticker/fxemoji_present 1.png"
                alt=""
              />
              <p class="key-list-text">Magical Chest Rewards</p>
            </div>
          </li>
          <li class="swiper-slide key-list-item">
            <div class="key-list-wrap">
              <img
                class="key-stiker"
                src="/img/Sticker/emojione_unicorn-face 1.png"
                alt=""
              />
              <p class="key-list-text">
                Charming story with fantasy-fairground characters
              </p>
            </div>
          </li>
          <li class="swiper-slide key-list-item">
            <div class="key-list-wrap">
              <img
                class="key-stiker"
                src="/img/Sticker/noto_carousel-horse 1.png"
                alt=""
              />
              <p class="key-list-text">Carnival Restoration Mode</p>
            </div>
          </li>
          <li class="swiper-slide key-list-item">
            <div class="key-list-wrap">
              <img
                class="key-stiker"
                src="/img/Sticker/noto_crystal-ball 1.png"
                alt=""
              />
              <p class="key-list-text">
                Dream Mode: advanced puzzles that unlock at night
              </p>
            </div>
          </li>
        </ul>
      </div>
      <button
        type="button"
        class="swiper-button-prev key-btn-down"
        aria-label="prev-slide"
      >
        <svg class="key-icon-down" width="60" height="30">
          <use href="/img/sprite.svg#icon-arow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
