<section class="level" id="level">
  <div class="container level-container">
    <h2 class="level-title">Level Progression</h2>

    <ul class="level-list">
      <li class="level-item">
        <p class="level-text">Build</p>
      </li>
      <li class="level-item">
        <p class="level-text">Discover</p>
      </li>
      <li class="level-item">
        <p class="level-text">Repeat</p>
      </li>
    </ul>
    <div class="button-wrap">
      <button class="user-swiper-button-prev arrow-btn">
        <svg class="icon-arrow" width="60" height="30">
          <use href="./img/sprite.svg#icon-ctrl"></use>
        </svg>
      </button>
      <div class="swiper-level">
        <ul class="swiper-wrapper level-sublist">
          <li class="swiper-slide level-subitem">
            <picture>
              <source
                srcset="
                  /img/Level/1x/picture-levl-1@1x.webp 1x,
                  /img/Level/2x/picture-levl-1@2x.webp 2x
                "
                media="(max-width: 320px)"
              />
              <img
                src="/img/Level/1x/picture-levl-1@1x.webp"
                alt="Build step"
                loading="lazy"
                class="level-img"
              />
            </picture>
            <p class="level-card-subtext">
              Start with broken carnival zones and unlock attractions
            </p>
          </li>
          <li class="swiper-slide level-subitem">
            <picture>
              <source
                srcset="
                  /img/Level/1x/picture-levl-2@1x.webp 1x,
                  /img/Level/2x/picture-levl-2@2x.webp 2x
                "
                media="(max-width: 320px)"
              />
              <img
                src="/img/Level/1x/picture-levl-2@1x.webp"
                alt="Discover step"
                loading="lazy"
                class="level-img"
              />
            </picture>
            <p class="level-card-subtext">
              Merge to open mystical areas (Mirror Hall, Illusion Tents, Spirit
              Wheel)
            </p>
          </li>
          <li class="swiper-slide level-subitem">
            <picture>
              <source
                srcset="
                  /img/Level/1x/picture-levl-3@1x.webp 1x,
                  /img/Level/2x/picture-levl-3@2x.webp 2x
                "
                media="(max-width: 320px)"
              />
              <img
                src="/img/Level/1x/picture-levl-3@1x.webp"
                alt="Build step"
                loading="lazy"
                class="level-img"
              />
            </picture>
            <p class="level-card-subtext">
              Level up through seasonal puzzle events and multi-stage boards
            </p>
          </li>
          <li class="swiper-slide level-subitem">
            <picture>
              <source
                srcset="
                  /img/Level/1x/picture-levl-4@1x.webp 1x,
                  /img/Level/2x/picture-levl-4@2x.webp 2x
                "
                media="(max-width: 320px)"
              />
              <img
                src="/img/Level/1x/picture-levl-4@1x.webp"
                alt="Build step"
                loading="lazy"
                class="level-img"
              />
            </picture>
            <p class="level-card-subtext">
              Special merge keys unlock cross-day-night boards
            </p>
          </li>
        </ul>
      </div>
      <button class="user-swiper-button-next arrow-btn">
        <svg class="icon-arrow" width="60" height="30">
          <use href="./img/sprite.svg#icon-ctrl"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
