<section class="magic-section js-reveal" id="magic">
  <div class="container magic-container">
    <h2 class="magic-title">Merge Magic</h2>
    <p class="magic-text">
      Every Match Brings You Closer to Magic Opening chests js-reveals:
    </p>
    <ul class="magic-list">
      <li class="magic-list-item">
        <img
          src="./img/Magic/1x/horse-magic@1x.webp"
          srcset="
            ./img/Magic/1x/horse-magic@1x.webp 1x,
            ./img/Magic/2x/horse-magic@2x.webp 2x
          "
          alt="horse"
          class="magic-pictures"
        />
        <p class="magic-list-text">1.Mergeable carnival parts</p>
      </li>
      <li class="magic-list-item">
        <img
          src="./img/Magic/1x/fairground@1x.webp"
          srcset="
            ./img/Magic/1x/fairground@1x.webp 1x,
            ./img/Magic/2x/fairground@2x.webp 2x
          "
          alt="fairground"
          class="magic-pictures"
        />
        <p class="magic-list-text">2.Decorative fairground items</p>
      </li>
      <li class="magic-list-item">
        <img
          src="./img/Magic/1x/nighttime@1x.webp"
          srcset="
            ./img/Magic/1x/nighttime@1x.webp 1x,
            ./img/Magic/2x/nighttime@2x.webp 2x
          "
          alt="nighttime"
          class="magic-pictures"
        />
        <p class="magic-list-text">3.Spellbound nighttime relics</p>
      </li>
      <li class="magic-list-item">
        <img
          src="./img/Magic/1x/restoration@1x.webp"
          srcset="
            ./img/Magic/1x/restoration@1x.webp 1x,
            ./img/Magic/2x/restoration@2x.webp 2x
          "
          alt="Restoration"
          class="magic-pictures"
        />
        <p class="magic-list-text">4.Restoration kits for attractions</p>
      </li>
      <li class="magic-list-item">
        <img
          src="./img/Magic/1x/night-only@1x.webp"
          srcset="
            ./img/Magic/1x/night-only@1x.webp 1x,
            ./img/Magic/2x/night-only@2x.webp 2x
          "
          alt="night-only"
          class="magic-pictures"
        />
        <p class="magic-list-text">5.Rare night-only merge sets</p>
      </li>
      <li class="magic-list-item">
        <img
          src="./img/Magic/1x/magic-pictures@1x.webp"
          srcset="
            ./img/Magic/1x/magic-pictures@1x.webp 1x,
            ./img/Magic/2x/magic-pictures@2x.webp 2x
          "
          alt="list"
          class="magic-pictures"
        />
        <p class="magic-list-text">
          6.Scrolls unlocking lore from the lost funfair
        </p>
      </li>
    </ul>
  </div>
</section>
