<section class="tale" id="tale">
  <div class="container tale-container">
    <h2 class="tale-title">The Tale:</h2>
    <div class="tale-wrap">
      <img
        class="tale-img"
        src="../img/Tale/1x/boy-scroll@1x.webp"
        srcset="
          ../img/Tale/1x/boy-scroll@1x.webp 1x,
          ../img/Tale/2x/boy-scroll@2x.webp 2x
        "
        alt="boy"
      />
      <p class="tale-text">
        The Fair That Forgot<br />
        The Enchanted Story Behind the Puzzle — the most joyful place in the
        world, the Magic Funfair mysteriously shut down a century ago. Now,
        you're the new caretaker. With every merge, you unlock echoes of...
      </p>
    </div>
  </div>
</section>
