.reveal {
    opacity: 0;
    transform: translateY(-20px);
    filter: blur(4px);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out, filter 0.4s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

/* для екранів до 1200px */
@media (max-width: 1200px) {
    .reveal {
        transform: translateY(-12px);
        filter: blur(2px);
    }
}

/* для екранів до 320px */
@media (max-width: 320px) {
    .reveal {
        transform: translateY(-6px);
        filter: blur(1.5px);
    }
}